
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

.header {
  position: fixed;                
  top: 0;                        
  left: 0;                      
  right: 0;                       
  display: flex;
  justify-content: space-between; 
  align-items: center;            
  padding: 20px;
  background-color: #f4f4f4;      
  width: 100%;                    
  z-index: 1000;             
  box-sizing: border-box;      
}

.title {
  font-size: 24px;
  font-weight: bold;            
  color: #333;                   
}

.navList {
  display: flex;
  gap: 15px;                 
  list-style: none;           
}

.navList a {
  text-decoration: none;        
  color: #000;                 
  font-size: 16px;              
  transition: color 0.3s ease;    
}

.navList a:hover {
  color: #ff6347;                
}

.profile {
  display: flex;
  align-items: center;          
  justify-content: center;        
  cursor: pointer;              
}


.profileIcon {
  font-size: 30px;                
  color: #000;                  
  transition: color 0.3s ease;    
}

.profileIcon:hover {
  color: #555;                    
}
